/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    #020024,
    #090979,
    #000428
  );

  font-family: Arial, sans-serif;
}

/* NAVBAR */

.custom-navbar {
  background: rgba(0, 0, 0, 0.3);

  width: 100%;

  z-index: 1000;
}

.nav-link {
  text-decoration: none;

  font-weight: 500;

  transition: 0.3s;
}

.nav-link:hover {
  color: #66fcf1 !important;
}

.login-btn {
  text-decoration: none;

  padding: 10px 22px;

  border-radius: 30px;

  background: linear-gradient(
    to right,
    #6a5cff,
    #d946ef
  );

  color: white;

  font-weight: bold;

  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
}

/* HERO SECTION */

.hero-section {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df");

  background-size: cover;
  background-position: center;
}

.hero-content h1 {
  font-size: 65px;

  font-weight: bold;

  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;

  max-width: 700px;

  margin: auto;
}

/* SERVICE CARDS */

.service-card {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 20px;

  padding: 30px;

  color: white;

  text-align: center;

  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-8px);

  border-color: #6a5cff;
}

.service-card h3 {
  color: #66fcf1;

  margin-bottom: 15px;
}

/* FOOTER */

.footer {
  background: rgba(0,0,0,0.4);

  color: white;

  padding: 60px 0;

}

.footer h4 {
  color: #66fcf1;

  margin-bottom: 20px;
}